<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Verification</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            padding: 20px;
        }
        .container {
            max-width: 500px;
            margin: auto;
            background: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .header {
            text-align: center;
            font-size: 24px;
            font-weight: bold;
            color: #333;
        }
        .otp {
            text-align: center;
            font-size: 32px;
            font-weight: bold;
            color:rgb(12, 38, 68);
            margin: 20px 0;
        }
        .message {
            text-align: center;
            font-size: 16px;
            color: #555;
        }
        .footer {
            text-align: center;
            font-size: 14px;
            color: #888;
            margin-top: 20px;
        }
        .button {
            display: inline-block;
            padding: 12px 24px;
            font-size: 16px;
            color: #ffffff;
            background-color:rgb(20, 30, 43);
            text-decoration: none;
            border-radius: 5px;
            font-weight: bold;
            margin-top: 20px;
        }
        .button:hover {
            background-color:rgb(31, 35, 44);
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">Your OTP Code</div>
        <p class="message">Use the following OTP to verify your email address. This code is valid for {{.Expiration}} minutes.</p>
        <div class="otp">{{.Otp}}</div>
        <p class="message">If you didn’t request this, please ignore this email.</p>
        <div class="footer">
            &copy; 2025 {{.AppName}}. All rights reserved.
        </div>
    </div>
</body>
</html>
