<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <main>
        <h1 style="text-align: center;">
            Welcome to Geko
        </h1>
        <h3 style="text-align: center;">Otp Provided below</h3>
        <p  style="text-align: center;display: block;">{{ .Otp }}</a>
    </main>
</body>
</html>